/* основной шрифт Roboto – 400,500,700,900 */
/* дополнительный шрифт Raleway – 700 */
/* основной цвет фона #ffffff */
/* основной цвет для текста #757575 */
/* дополнительный цвет текста #212121 */
/* дополнительный цвет #2196F3 */
:root {
    --main-background-color: #ffffff;
    --main-color-text: #757575;
    --complementary-color-text: #212121;
    --complementary-color: #2196F3;
}

body {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    background-color: var(--main-background-color);
    color: var(--main-color-text);
}
h1 {  
    color: #ffffff;
}
h2,
h3,
h4,
h5,
h6 {
   color: var(--complementary-color-text);
}

/* header шапка */
/* ссылки шапки */
/* логотип */
.logo-header,
.logo-footer {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1;
        letter-spacing: 0.03em;
}
.logo-header { 
    color: #000000;
}
.logo-footer {  
color: #ffffff;
}
.logo-web {
    color: var(--complementary-color);
}


.link-nav {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
    color: var(--complementary-color-text);
}

.link-nav:hover,
.link-nav:focus {
color: var(--complementary-color);
}

.link-header {
    color: var(--main-color-text);
}
.link-header:hover,
.link-header:focus {
color: var(--complementary-color);
}


/* main */
/* герой hero */
.hero {
    background-color: #2F303A;
}
.title {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase
}
.btn {
    font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    background-color: var(--complementary-color);
    color: #ffffff;
}
/* benefits преимущества */
.benefits {

}
.title-benefits {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

/*  деятельность activity */
.title-activity,
.title-team {
font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em
}

/* команда team */
.title-name {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
}
.team {
    background-color: #F5F4FA;
}
 /* footer подвал */
.footer {
background-color: #2F303A;
}

.text-footer {
color: #ffffff;
} 

.link-footer {
color: rgba(255, 255, 255, 0.6);
}
.link-footer:hover,
.link-footer:focus {
color: var(--complementary-color);
}