/* основной шрифт Roboto – 400,500,700,900 */
/* дополнительный шрифт Raleway – 700 */
/* основной цвет фона #ffffff */
/* основной цвет для текста #757575 */
/* дополнительный цвет текста #212121 */
/* дополнительный цвет #2196F3 */
:root {
    --main-background-color: #ffffff;
    --main-color-text: #757575;
    --complementary-color-text: #212121;
    --complementary-color: #2196F3;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-color-text);
}
h1 {  
    color: #ffffff;
}
h2,
h3,
h4,
h5,
h6 {
   color: var(--complementary-color-text);
}

/* header шапка */
/* ссылки шапки */
/* логотип */
.logo-header {
    color: var(--complementary-color-text);
}
.logo-footer {
color: #ffffff;
}

.logo-web {
    color: var(--complementary-color);
}

.link-nav {
    color: var(--complementary-color-text);
}

.link-nav:hover,
.link-nav:focus {
color: var(--complementary-color);
}

.link-header {
    color: var(--main-color-text);
}
.link-header:hover,
.link-header:focus {
color: var(--complementary-color);
}


/* main */
.hero {
    background-color: #2F303A;
}
/* кнопка под h1 */
.btn {
    background-color: var(--complementary-color);
    color: #ffffff;
}
 /* footer подвал */
.footer {
background-color: #2F303A;
}

.text-footer {
color: #ffffff;
} 

.link-footer {
color: rgba(255, 255, 255, 0.6);
}
.link-footer:hover,
.link-footer:focus {
color: var(--complementary-color);
}